<!-- Initial -->
<div class="initial body-wrap" ng-show="initial">
  XXXXXX
  <div class="social-information">
    <p>Welcome to <span class="aqua-text">DevMountain Social</span></p>
    <p>Add Some Info So Friends Can Find You</p>
    <form class="input-text">
      <input class="input-row" type="text" ng-model="newUser.name" placeholder="Full Name"><br>
      <input class="input-row" type="text" ng-model="newUser.tagline" placeholder="Tagline"><br>
      <input class="input-row" type="text" ng-model="newUser.img" placeholder="Profile Image URL"><br>
      <input class="input-row" type="text" ng-model="newUser.bio" placeholder="Bio"><br>
    </form>
    <button class="submit-button" ng-click="createUser(newUser); togglePage('landing')">Let's Get Social!</button>

  </div>
  <div class="social-photos">
    <img src="http://target.scene7.com/is/image/Target/17435271?wid=450&hei=450&fmt=pjpeg">
  </div>

</div>
